<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1>Search Results for <%= searchTerm %></h1>
    <% if (movies && movies.length > 0) { %>
    <ul>
      <% movies.forEach(movie => { %>
      <li>
        <img src="<%= movie.Poster %>" alt="<%= movie.Title %> Poster" />
        <h2><%= movie.Title %></h2>
        <p>Year: <%= movie.Year %></p>
        <p>Type: <%= movie.Type %></p>
        <form action="/favorite" method="POST">
          <input type="hidden" name="title" value="<%= movie.Title %>" />
          <input type="hidden" name="year" value="<%= movie.Year %>" />
          <input type="hidden" name="type" value="<%= movie.Type %>" />
          <input type="hidden" name="poster" value="<%= movie.Poster %>" />
          <button type="submit">Favorite</button>
        </form>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No results found.</p>
    <% } %>
  </body>
</html>
